@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=DM+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --rawr-purple: #BC4AD8;
  --rawr-purple-lt: #D6A6E2;
  --rawr-beige: #EFCA9E;
  --rawr-brown: #6A4125;
  --rawr-black: #000000;
  --rawr-white: #FFFFFF;
  --rawr-accent: #2ecca2;
  --rawr-bg-light: #fce3fa;
  --rawr-accent-light: #ef8adc;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--rawr-black);
  background-color: var(--rawr-white);
  margin: 0;
  padding: 0;
}
